<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main class="bg-white py-12 sm:py-12">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>

</html>