<footer class="site-footer">
    <div class="container">
        <nav>
            <a href="{{ .Site.Params.inc.url }}">{{ .Site.Params.inc.company }}</a> &middot;
            {{ with .Site.Params.inc.pricing_link }}<a href="{{ . }}">Pricing</a> &middot; {{ end }}
        </nav>
        <nav class="social">
            {{ with .Site.Params.inc.twitter }}
            <a href="https://twitter.com/{{ . }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter black"></i></a>
            {{ end }}
            {{ with .Site.Params.inc.github }}
            <a href="https://github.com/{{ . }}" title="Follow on Github" target="_blank"><i class="icon icon-github black"></i></a>
            {{ end }}
            {{ with .Site.Params.inc.facebook }}
            <a href="http://facebook.com/{{ . }}" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook black"></i></a>
            {{ end }}    
            <a href="/index.xml" title="RSS Feed">
                <i class="icon icon-rss black"></i>
            </a>
        </nav>
    </div>
</footer>
{{ partial "_scripts.html" . }}
</body>
</html>
