<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Params.inc.title }} &mdash; {{ .Site.Params.inc.subtitle }}</title>
    {{ with .Site.Params.inc.google_font }}
        <link href="https://fonts.googleapis.com/css?family={{ . }}" rel="stylesheet" type="text/css">
    {{ end }}
    <link rel="stylesheet" href="/css/main.css">

    <link rel="shortcut icon" href="https://scoutred.com/static/shortcut-icons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://scoutred.com/static/shortcut-icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="https://scoutred.com/static/shortcut-icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://scoutred.com/static/shortcut-icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://scoutred.com/static/shortcut-icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://scoutred.com/static/shortcut-icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://scoutred.com/static/shortcut-icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://scoutred.com/static/shortcut-icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://scoutred.com/static/shortcut-icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://scoutred.com/static/shortcut-icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://scoutred.com/static/shortcut-icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://scoutred.com/static/shortcut-icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://scoutred.com/static/shortcut-icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://scoutred.com/static/shortcut-icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://scoutred.com/static/shortcut-icons/favicon-16x16.png">

    <link href="{{ .Site.BaseURL }}/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Params.inc.title }}" />

    <meta name="title" content="{{ .Site.BaseURL }}">
    <link rel="canonical" href="{{ .Site.BaseURL }}">
    <meta property="og:title" content="{{ .Site.Params.inc.title }}"/>
    <meta property="og:url" content="{{ .Site.BaseURL }}"/>
    <meta property="og:image" content="{{ .Site.BaseURL }}/images/{{ .Site.Params.inc.logo }}"/>   
    <meta property="og:site_name" content="{{ .Site.Params.inc.title }}">
</head>
<body>
<section class="site-nav">
    <header>
        <nav id="navigation">
            <a class="brand" href="{{ .Site.Params.inc.url }}">
                <strong>Scout<span style="color:#f00">RED</span></strong>
            </a>
            <a href="/" class="home">Updates</a>
            {{ with .Site.Params.inc.about_link }}<a href="{{ . }}">About</a>{{ end }}
        </nav>
        <nav class="tagline">
            {{ with .Site.Params.inc.tagline }}<span>{{ . }}</span>{{ end }}
            {{ with .Site.Params.inc.product_link }}<a href="{{ . }}" class="btn btn-outline">Learn More</a>{{ end }}
        </nav>
    </header>
</section>