<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{if .Title}}{{.Title}} - {{else}}{{.Site.Params.inc.subtitle}}{{end}}Scoutred
    </title>
    {{ with .Site.Params.inc.google_font }}
        <link href="https://fonts.googleapis.com/css?family={{ . }}" rel="stylesheet" type="text/css">
    {{ end }}
    <link rel="stylesheet" href="/css/main.css">

    <link rel="shortcut icon" href="https://scoutred.com/static/shortcut-icons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://scoutred.com/static/shortcut-icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="https://scoutred.com/static/shortcut-icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://scoutred.com/static/shortcut-icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://scoutred.com/static/shortcut-icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://scoutred.com/static/shortcut-icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://scoutred.com/static/shortcut-icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://scoutred.com/static/shortcut-icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://scoutred.com/static/shortcut-icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://scoutred.com/static/shortcut-icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://scoutred.com/static/shortcut-icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://scoutred.com/static/shortcut-icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://scoutred.com/static/shortcut-icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://scoutred.com/static/shortcut-icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://scoutred.com/static/shortcut-icons/favicon-16x16.png">

    <link href="{{.Site.BaseURL}}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Params.inc.title }}" />

    <meta name="title" content="{{ .Title }} - Scoutred Blog">
    <meta name="description" content="{{ .Summary }}">

    <link rel="canonical" href="{{ .Permalink }}">
    <meta property="og:title" content="{{ .Title }}"/>
    <meta property="og:url" content="{{ .Permalink}}"/>
    {{if .Params.post_image}}
        <meta property="og:image" content="{{ .Site.BaseURL }}images/{{ .Params.post_image }}"/>
    {{else}}
        <meta property="og:image" content="{{ .Site.BaseURL }}images/{{ .Site.Params.inc.logo }}"/>
    {{end}}
    <meta property="og:site_name" content="{{ .Site.Params.inc.title }}">
</head>
<body>
<section class="site-nav">
    <header>
        <nav id="navigation">
            <img src="/images/scoutred-icon.svg" width="30" height="30" class="d-inline-block align-top">
            <a class="brand" href="{{ .Site.Params.inc.url }}">
                <strong>Scoutred</strong>
            </a>
            <ul>
                <li>{{ with .Site.Params.inc.pricing_link }}<a href="{{ . }}" class="right-link">PRICING</a> {{ end }}</li>
                <li>{{ with .Site.Params.inc.signup_link }}<a href="{{ . }}" class="right-link">SIGN UP</a>{{ end }}</li>
                <li>{{ with .Site.Params.inc.blog_link }}<a href="{{ . }}" class="right-link">BLOG</a>{{ end }}</li>
            </ul>
        </nav>
    </header>
</section>